<div class="container">
  {{#each recipe}}
  <h1>
    {{title}}
  </h1>
  {{/each}}
  {{! Accessing information about the recipe }}
  {{#each recipe}}
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-5">
        <dl>
          <dt>
            Category
          </dt>
          <dd>
            {{category}}
          </dd>
          <dt>
            Main Ingredient
          </dt>
          <dd>
            {{main_ingredient}}
          </dd>
          <dt>
            Ingredients
          </dt>
          <dd>
            {{ingredients}}
          </dd>
      </div>
      <div class="col-7">
        <dt>
          Directions
        </dt>
        <dd>
          {{directions}}
        </dd>
      </div>
    </div>
    <hr>
    <div class="row justify-content-between">
      <div class="col-5">
        <dt>
          Creator
        </dt>
        <dd>
          {{creator}}
          |
          {{date_added}}
        </dd>
      </div>
      <div class="col-7">
        <dt>
          Votes
        </dt>
        <dd>
          {{votes}}
        </dd>
      </div>
      </dl>
      {{/each}}
    </div>
  </div>
  {{! Accessing Comments on the Recipe }}
  <br>
  <div class="container">
    <button class="accordion btn-danger" align="left">
      <h4>Comments</h4>
    </button>
    <div class="panel">
      {{#each recipe.comments}}
      <dl>
        <dt>
          <br>
          {{this.commenter}}
          |
          {{this.added}}
        </dt>
        <dd>
          {{this.comment_text}}
        </dd>
      </dl>
      <hr />
      {{/each}}
    </div>
  </div>


  <style>
    body {
      background: linear-gradient(hsla(0, 0%, 100%, .7) 0%, hsla(0, 0%, 100%, .7) 100%), url('https://source.unsplash.com/random/?christmas') no-repeat fixed center center / cover;
      min-height: 400px;
    }

    h1 {
      font-family: 'Great Vibes', cursive;
      text-align: center;
      color: red;
      font-size: 100px;
      margin-top: 25px;
    }

    .accordion {
      background-color: #eee;
      color: #444;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
      transition: 0.4s;
    }

    .active,
    .accordion:hover {
      background-color: #ccc;
    }

    .panel {
      padding: 0 18px;
      background-color: white;
      opacity: .7;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;

    }

    }
  </style>
  <script>
    var acc = document.getElementsByClassName("accordion");
    var i;
    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function () {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
        }
      });
    }
  </script>